import React from 'react';
import { connect } from 'dva';
import { Layout, Button } from 'antd';
import intl from 'react-intl-universal';

import messages from '../messages';
import BaseComponent from '{{linkImport}}../../../components/BaseComponent';
import Toolbar from '{{linkImport}}../../../components/Toolbar';
import SearchBar from '{{linkImport}}../../../components/SearchBar';
import DataTable from '{{linkImport}}../../../components/DataTable';
import { ModalForm } from '{{linkImport}}../../../components/Modal';
import createColumns from './columns';
import './index.less';
const { Content, Header, Footer } = Layout;
const { Pagination } = DataTable;

@connect(({ {{lowerCase name }}, loading }) => ({
  {{lowerCase name }},
  loading: loading.models.{{lowerCase name }}
}))
export default class extends BaseComponent {
  state = {
    record: null,
    visible: false,
    rows: []
  };

  handleAdd() {}

  handleUpdate() {}

  handleDelete = records => {
    const { rows } = this.state;
    const { dispatch } = this.props;

    dispatch({
      type: '{{lowerCase name }}/remove',
      payload: {
        records,
        success: () => {
          // If the operation is successful, exclude the deleted row in the selected row
          this.setState({
            rows: rows.filter(
              item => !records.some(jItem => jItem.rowKey === item.rowKey)
            )
          });
        }
      }
    });
  };

  onDelete = record => {
    if (!record) return;
    if ($$.isArray(record) && !record.length) return;

    const content = `Do you want to delete this ${
      $$.isArray(record) ? record.length : ''}item?`;

    Modal.confirm({
      title: intl.formatMessage(messages.noticeC),
      content,
      onOk: () => {
        this.handleDelete($$.isArray(record) ? record : [record]);
      },
      onCancel() {}
    });
  };

  onAdd = () => {
    this.setState({
      record: null,
      visible: true
    });
  };

  onUpdate = record => {
    this.setState({
      record,
      visible: true
    });
  };

  render() {
    const { {{lowerCase name }}, loading, dispatch } = this.props;
    const { pageData } = {{lowerCase name }};
    const columns = createColumns(this);
    const { rows, record, visible } = this.state;

    const searchBarProps = {
      columns,
      onSearch: values => {
        dispatch({
          type: '{{lowerCase name }}/getPageInfo',
          payload: {
            pageData: pageData.filter(values).jumpPage(1, 10)
          }
        });
      }
    };

    const dataTableProps = {
      loading,
      columns,
      rowKey: 'id',
      dataItems: pageData,
      selectType: 'checkbox',
      showNum: true,
      isScroll: true,
      selectedRowKeys: rows.map(item => item.rowKey),
      onChange: ({ pageNum, pageSize }) => {
        dispatch({
          type: '{{lowerCase name }}/getPageInfo',
          payload: {
            pageData: pageData.jumpPage(pageNum, pageSize)
          }
        });
      },
      onSelect: (keys, items) => this.setState({ rows: items })
    };

    const modalFormProps = {
      loading,
      record,
      visible,
      columns,
      modalOpts: {
        width: 700
      },
      onCancel: () => {
        this.setState({
          record: null,
          visible: false
        });
      },
      // Add and modify will enter this method,
      // can use the primary key or whether there is a record to distinguish the status
      onSubmit: values => {
        dispatch({
          type: '{{lowerCase name }}/save',
          payload: {
            values,
            success: () => {
              this.setState({
                record: null,
                visible: false
              });
            }
          }
        });
      }
    };

    return (
      <Layout className="full-layout {{lowerCase name }}-page">
        <Header>
          <Toolbar
            appendLeft={
              <Button.Group>
                <Button type="primary" icon="plus" onClick={this.onAdd}>
                  New
                </Button>
                <Button
                  disabled={!rows.length}
                  onClick={() => this.onDelete(rows)}
                  icon="delete"
                >
                  Delete
                </Button>
              </Button.Group>
            }
            pullDown={<SearchBar type="grid" {...searchBarProps} />}
          >
            <SearchBar group="abc" {...searchBarProps} />
          </Toolbar>
        </Header>
        <Content>
          <DataTable {...dataTableProps} />
        </Content>
        <Footer>
          <Pagination {...dataTableProps} />
        </Footer>
        <ModalForm {...modalFormProps} />
      </Layout>
    );
  }
}
